/* Dropdown container styles */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button styles */
.dropbtn, .dropbtn.instant-hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

/* Dropdown content styles (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 160px;
    border-radius: 0 20px 20px 20px;
    backdrop-filter: blur(10px);
}

/* Dropdown link styles */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
}

/* Show the dropdown content when the dropdown is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown button styles on hover */
.dropdown:hover .dropbtn.instant-hover {
    border-radius: 20px 20px 0 0;
}
